*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Roboto', sans-serif;
}

/* BACKGROUND APP*/



.page-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #DBDBD2;

}



.container {
    height: calc(100% - 50px);
    width: 100%;
    max-width: 1360px;
    background-color: #fff;
}

/* BACKGROUND APP*/


/* CLASS UNIX */

.list-inline {
    display: flex;
    list-style: none;
}

.float-left {
    float: left;
}
  
.clearfix::after {
    content: "";
    display: block;
    clear: both;
}



.color-blue {
    background-color: #8EDAFC;
}

.templates {
    display: none;
}

/* CLASS UNIX */


/* TIPOGRAPHY */

.name-text {
    font-size: 13px;
}

.contact-text p {
    font-size: 10px;
    margin-top: 1px;
    color: #B1B1B1;
}

/* TIPOGRAPHY */




/* MAIN APP */

.app_sx {
    overflow: hidden;
    width: 40%;
    height: 100%;
    background-color: #FFFFFF;
}

.app_dx {
    width: 60%;
    height: 100%;
    background-position: center;
}



.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 70px;
    background-color: #EAEAEA;
}

/* avatar */

.avatar {
    display: flex;
    align-items: center;
}

.avatar-img {
    overflow: hidden;
    height: 50px;
    width: 50px;
    border-radius: 50%;
}

.photo {
    width: 100%;
}

/* avatar */

/* icone */

.icons li {
    padding: 0 10px;
    font-size: 22px;
    color: #B1B1B1;
}

/* icone */




/* notification */

.notifications {
    display: flex;
    padding: 0 10px;
    align-items: center;
    height: 70px;
}

.ring-icon i {
    align-items: center;
    margin: 5px 10px;
    height: 40px;
    width: 40px;
    padding: 9px;
    color: #8EDAFC;
    background-color: #fff;
    border-radius: 50%;
    font-size: 20px;
}


/* notification */

.text {
    align-self: center;
    width: 50%;
    padding: 10px 0;
    font-size: 10px;
}

/* search */

.search {
    display: flex;
    align-items: center;
    height: 50px;
    padding: 10px;
    background-color: #fff;
}

.search-icon {
    align-self: center;
    font-size: 14px;
    padding: 0px 10px;
    margin-left: 10px;
    background-color: #fff;
    border: 1px solid #DBDBD2;
    color: #EAEAEA;
}

input {
    height: 100%;
    width: 450px;
}

.search-input {
    border: none;
    margin-left: 10px;
    line-height: 30px;
}

/* search */



/* contact */

.user-contact {
    height: calc(100% - 190px);
    overflow-y: scroll;
}

.contact {
    display: flex;
    align-items: center;
    padding: 10px;
    background-color: #fff;
}

.contact .avatar {
    height: 60px;
    width: 60px;
}

.contact-name {
    margin-bottom: 8px;
}
.contact-text {
    margin-left: 15px;
}

.contact-time {
    margin-left: auto;
    align-self: flex-start;
    margin-top: 5px;
}

.contact.active {
    background-color: #E9EBEB;
}

/* contact */

/* APP-DX */

/* chat */
.main-chat {
    height: calc(100% - 140px);
    padding: 50px;
    overflow-y: scroll;
    background-image: url(../img/mine.jpg);
}

#input-message {
    width: 100%;
    height: 100%;

}

.message-row {
    display: flex;
    margin: 10px 0;
}

.message {
    position: relative;
    background-color: #fff;
    max-width: 300px;
    border-radius: 10px;
    padding: 15px;
}

.message-time {
    position: absolute;
    font-size: 8px;
    bottom: 5px;
    right: 10px;
}

.message-row.sent {
    justify-content: flex-end;
}

.message-row.sent .message {
    background-color: lightgreen
}

.send-message {
    cursor: pointer;
}

.reply {
    align-self: flex-start;
    background-color: #fff;
}

/* chat */


/* footer */

.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #EAEAEA;
    height: 70px;
    padding: 15px 0;
}

.footer-icon {
    padding: 0 30px;
}

/* footer */



/* /APP-DX */



